
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - app:/backend
    command: npm run dev

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: aman
      POSTGRES_PASSWORD: aman8839
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"


volumes:
  pgdata:
  app: