
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - app:/backend
    command: npm run dev

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"


volumes:
  pgdata:
  app:
