name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS }}

      - name: Build Docker Image
        run: docker build -t amanyadav605/backend:latest .

      - name: Push Docker Image
        run: docker push amanyadav605/backend:latest
